<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Admin Home Page</title>
    </h:head>
    <h:body style="background-color: hotpink;">
        <h3>Welcome to the Admin Home Page</h3>
        <p><h:link outcome="/index" value="To Home Page" /></p>
        <p>
            <h:form>
                <h:commandLink action="#{logoutBean.logout}" value="Logout" />
            </h:form>
        </p>
    </h:body>
</html>