<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" >

    <div class="footer">

        footer.xhtml<br/>
        <hr/>
        Recruitment System 2015, No rights reserved.<br/>
        Mano is very handsome.<br/>
        
    </div>
    
</ui:composition>
