<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" >

    <div class="header">
        
        header.xhtml<br/>
        <h1>Recruitment System v0.1</h1>

    </div>
    
</ui:composition>
