<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
 
 
 
    <h:head>

        <title>Error</title>
    </h:head>
    <h:body styleClass="ferra">
        <h1>Internal error. Attempt at a later time.</h1>

        <a href="index.xhtml">Back to main page</a>
    </h:body>
</html>