<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Login Form</title>
    </h:head>
    <h:body style="background-color: yellow;">
        <h3>Welcome to the Login Page</h3>
        <p><h:link outcome="/index" value="To Home Page" /></p>

        
        <form method="POST" action="j_security_check">
            <h:panelGrid columns="2">
                <h:outputLabel value="User Name"/>
                <input type="text" name="j_username" />
                <h:outputLabel value="Password"/>
                <input type="password" name="j_password" />
                <input type="submit" value="Login" />
            </h:panelGrid>
        </form> 

    </h:body>
</html>