<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Login Error </title>
    </h:head>
    <h:body>
       <h3 style="color:red;font-weight: bold;">Sorry, Access Denied</h3>
       <p>Your credentials could not be verified or you are not authorized to 
           view the content you desire.</p>
       <p><h:link outcome="/index" value="To Home Page" /></p>
    </h:body>
</html>

