<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/resources/template/commonLayout.xhtml">
            <ui:define name="content">
        <h:form>
            <h3>Register an account</h3>
            <p>
                First name <h:inputText id="firstName" value="#{registerBean.firstname}"/>
                Last name <h:inputText id="lastName" value="#{registerBean.lastname}"/>
            </p>
        
           <p>
                Social Security Number <h:inputText id="ssn" value="#{registerBean.ssn}">
              <f:validator validatorId="ssnValidator"/>
                </h:inputText>
            </p>
            <p>
                Email <h:inputText id="mail" value="#{registerBean.mail}">
                <f:validator validatorId="mailValidator"/>
                </h:inputText>
            </p>
            <p>
               Username <h:inputText id="username" value="#{registerBean.username}">
                    <f:validator validatorId="usernameValidator"/>
                </h:inputText>
               Password <h:inputText id="password" value="#{registerBean.password}">
                    <f:validator validatorId="passwordValidator"/>
                </h:inputText>
            </p>
            <p>
                <h:commandButton value="Register" action="#{registerBean.reg}"/>
                <h:messages />
            </p>
        </h:form>
                </ui:define>
        </ui:composition>
    </h:body>
</html>