<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: white">
        <ui:composition template="/resources/template/commonLayout.xhtml">
            <ui:define name="content">
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Registration succesfull!</h3>
                <h:button value="home" outcome="index" />
                <br/>
                <br/>
                <br/>
                <br/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

