<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:t="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <t:head>
    </t:head>
        <t:body>
            
            <!-- Header --> 
            <ui:composition>
                <h1>This is a default header</h1>
            </ui:composition>
        
        </t:body>       
</html>