<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" >

    <body>
        
        <ui:composition>
            
            <h1>This is a default footer</h1>
            
        </ui:composition>
    </body> 
</html>
    