<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" >

    <body> 
        <ui:composition> 
    <div class="maincontent">
        
        maincontent.xhtml<br/>
        <br/>
        
        <!-- LOGIN FORM -->
        Log in
        <h:form>
            
            <p class="field">
                <h:outputLabel for="usename" value ="email "/>
            </p>
            <h:inputText id ="username" value="#{acct.username}"/> <br />
            
            <p class="field">
                <h:outputLabel for ="password" value ="password "/>
            </p>
            <h:inputText id ="password" value="#{acct.password}"/>
            
            <p>
                <h:commandButton value ="Login" action ="#{acct.login()}"/>
                <a href="faces/register.xhtml">or register</a>
            </p>
            
        </h:form>
        <!-- END OF LOGIN FORM -->

        <!-- REGISTER USER FORM -->
        Register new user
        <h:form>
            
            <p class="field">
                <h:outputLabel for="usename" value ="email: "/>
            </p>
            <h:inputText id ="username" value="#{acct.username}"/><br />
            
            <p class="field">
                <h:outputLabel for ="password" value ="Password: "/> 
            </p>
            <h:inputText id ="password" value="#{acct.password}"/><br />
            
            <p class="field">
                <h:outputLabel for ="balance" value ="Initial deposit: "/> 
            </p>
            <h:inputText id ="balance" value="#{acct.balance}"/><br />
            
            <p>
                <h:commandButton value ="Register" action ="#{acct.newAccount()}"/>
            </p>
            
        </h:form>
        <!-- END OF REGISTER USER FORM -->

        <!-- SUBMIT APPLICATION FORM -->
        <p>Submit an application: </p>
        <!-- END OF SUBMIT APPLICATION FORM -->
        
        <!-- ERROR MESSAGE -->
        <div class="error">
            <h:outputLabel for ="res" value="#{acct.result}"/>
        </div>
        <!-- END OF ERROR MESSAGE -->
        
    </div>
    
</ui:composition>
</body>